.progress-bar-container {
    position: relative;
    margin-bottom: 0.5rem;
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    z-index: 3;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #D7AC87;
    transition: width 0.3s ease;
  }