.progress-bar-container {
  position: absolute;
  top: 36.5vh;
  right: 24vw;
    width: 50%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    z-index: 3;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #D7AC87;
    transition: width 0.3s ease;
  }