* {
  color:black;
  direction: rtl;
}
img {
  pointer-events: none;
}
@font-face {
  font-family: 'Rubik Dirt';
  src: url('./assets/RubikDirt-Regular.ttf') format('truetype');
}
body {
  font-family: 'Rubik Dirt', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow: hidden;
  background-color: #D7AC87;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.quiz-container {
  padding: 2rem;
  max-width: 600px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 100%;
  width: 90%;
  z-index: 2;
}


.logo {
  position: fixed;
  top:2.5vh;
  right:2vw;
  height: 50px;
  object-fit: contain;
}
.leopard {
  position:fixed;
  left:0vw;
  top:5vh;
  width: 80%;
  height: 50vh;
  z-index: 1;
}
.leopard-pattern {
  position: fixed;
  bottom:0vh;
  left: 0vw;
  width: 100%;
  height: 60vh;
  z-index: 0;
}



.score-section {
  font-size: 1.2rem;
  font-weight: bold;
}

.welcome-screen {
  position: absolute;
  z-index: 100;
  text-align: center;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.startBtn {
  text-align: center;
  border-radius: 5px;
  color: #b34b06d8;
  background: white;
  padding: 2%;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}
.final-score {
  position: relative;
  bottom:10vh;
  font-size: 1.4rem;
  text-align: center;
  /* margin-top: 20px; */
  background-color: white ;
  padding:0.6rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 95%;
  margin: auto;
  z-index: 4;
}

@keyframes moveTigerTool {
  0% {
    transform: translate(0, 0); /* Initial position */
  }
  
  100% {
    transform: translate(-570px,120px);
  }
}

.tiger-tool {
  position: absolute;
  top: 25vh;  
  left: 99vw;
  width: 50%;
  animation: moveTigerTool 5s ease;
}
.finish-button {
  position: absolute;
  z-index: 100;
  text-align: center;
  top:25vh;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: white;
  border: none;
  padding: 0.5rem;
  width: 4rem;
  border-radius: 10px;
  color: #b34b06d8;
  font-size: 1.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-family: 'Rubik Dirt', sans-serif;
}
.pele-landing-photo{
  position: absolute;
  top: 0vh;
  left: 0vw;
  width: 100%;
  height: 100vh;
}


/* Breakpoint for landscape mode on small screens */
@media (orientation: landscape) {
  .leopard {
    left:0vw;
    width: 50%;
    height: 80vh;
  }
  .leopard-pattern {
    width: 100%;
    height: 75vh;
  }
}
